.root {
  position: relative;
  padding: 20px 8px 8px 8px;
  border: 1px solid black;
  width: 100%;
}

.label {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 13px;
}

.input {
  border-radius: 0px;
  border: none;
  width: 100%;
}

.input:focus {
  outline: none;
}