.section {
	display: flex;
	justify-content: flex-end;
}

.section > * {
	width: 50%;
	padding: 8px;
}

.banner {
	height: 250px;
}

.img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.left > * {
	margin-top: 200px;
}

 .right > *:not(:first-child) {
	margin-top: 150px;
}