.card {
	border: 1px solid #000;
	background-color: #fff;
	box-shadow: 5px 5px 0px 0px #000;
	position: relative;
	top: -5px;
	left: -5px;
	margin-top: 5px;
	margin-left: 5px;
}

.content {
	padding: 1rem;
}
